<h2>Players</h2>

<%= for player <- @players do %>

<div class="player box">
  <a href="<%= player_path(@conn, :show, player) %>">
    <header><%= name(player) %></header>
  </a>
  <img src="/images/player.jpg" class="profile"/>
  <div class="body">
    <ul>
      <li>Spiele: 45</li>
      <li>Locks: 2</li>
    </ul>
  </div>
</div>

<% end %>
