<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Enrico Mischorr">

    <meta name="csrf" content="<%= Plug.CSRFProtection.get_csrf_token() %>">

    <title>KickerWeb</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="header">
      <nav class="navigation container" role="navigation">
        <ul class="left">
          <li class="active"><a href="/">Dashboard</a></li>
          <li><a href="/live">Live</a></li>
          <!-- <li><a href="/tables">Tables</a></li> -->
          <li><a href="/players">Players</a></li>
          <li><a href="/matches">Matches</a></li>
          <!-- <li><a href="/rules">Rules</a></li> -->
        </ul>
        <ul class="right">
          <%= if logged_in?(@conn) do %>
          <li><%= link current_player(@conn).forename, to: player_path(@conn, :profile) %></li>
          <% else %>
          <li><a href="<%= session_path @conn, :new %>">Login</a></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <main class="main container" role="main">
      <%
      info = get_flash(@conn, :info)
      error = get_flash(@conn, :error)
      %>
      <%= if info do %>
        <p class="alert alert-info" role="alert"><%= info %></p>
      <% end %>
      <%= if error do %>
        <p class="alert alert-danger" role="alert"><%= error %></p>
      <% end %>

      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer>
      <div class="container">
        <span class="right">&copy; Enrico Mischorr</span>
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
