html {
  height: 100%;
}

body {
  background-color: #404040;
  color: #E0E0E0;
  margin: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #388238;
}

.header a {
  color: #404040;
}

.navigation li {
  display: inline-block;
  padding: 5px 15px;
}

.navigation li:focus, .navigation li:hover {
  background-color: #404040;
  color: #E0E0E0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.container {
  margin: 0 50px;
}

.main {
  margin-top: 60px;
}
