.login {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  width: 400px;
  margin: auto;
  padding: 10px;
}

.login input[type=text], .login input[type=password] {
  width: 100%;
  font-size: 1em;
}

.form-group {
  margin-bottom: 15px;
}

form .actions {
  margin-top: 30px;
}

input {
  box-sizing: border-box;
  padding: 4px;
}

.box {
  background: #2F2F2F;
  box-shadow: 0px 2px 35px 0px rgba(0,0,0,0.75);
  border: 4px solid #383838;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 5px;
}

.widget {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 1%;
  min-width: 200px;
}

.box header {
  padding: 10px;
  font-weight: bold;
  background: #383838;
  color: #68A568;
  /*box-shadow: 0px -4px 30px 0px rgba(0,0,0,0.75);*/
}

.box .body {
  padding: 6px;
  box-sizing: border-box;
  min-height: 80px;
  max-height: 300px;
  overflow-y: scroll;
  border: 4px solid rgba(45, 45, 45, 0.75);
}

.player {
  width: 300px;
}

.player img.profile {
  float: left;
  max-width: 120px;
  max-height: 120px;
}

.avatar {
  border-radius: 50%;
}

.player .body {
  min-height: 120px;
}

.widget table {
  width: 100%;
}

.widget th {
  font-size: 0.8em;
  color: #ADADAD;
  text-align: left;
  padding-bottom: 10px;
}

.result {
  font-size: 4em;
  text-align: center;
  vertical-align: middle;
}

.live.result {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 800px;
  height: 400px;
  font-size: 20em;
  line-height: 400px;
  z-index: 10;
  overflow: hidden;
}

.live-background {
  max-width: 1920px;
  max-height: 1080px;
  height: 100%;
  margin: auto;
  display: block;
  opacity: 0.5;
  z-index: 0;
  transform: rotate(-90deg);
}

.team {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  box-sizing: border-box;
  z-index: 5;
}

.team.black {
  left: 0;
  text-align: right;
  padding-right: 450px;
}

.team.white {
  right: 0;
  padding-left: 450px;
}

.live-player {
  height: 50%;
  padding-top: 33%;
  box-sizing: border-box;
}

.live-player .name {
  font-size: 2em;
  font-family: 'Fjalla One', sans-serif;
}

.name .nick {
  color: gray;
  letter-spacing: 1px;
  /*text-transform: uppercase;*/
}

.nick:before {
    content: open-quote;
}
.nick:after {
    content: close-quote;
}

.live-button {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  height: 80px;
  display: block;
  text-align: center;
  font-size: 2em;
}

.button {
  background: #68A568;
  padding: 5px 20px;
  height: 50px;
  border-radius: 25px;
  display: inline-block;
  box-sizing: border-box;
}
